<div class="container">


    <section class="contact-header fade-in">
        
        <h1 class="page-title">Contact Info</h1>
    
    </section>

    
    <section class="contact-content slide-up">
    
    
        <div class="card contact-card">
        
            <div class="contact-item">
        
                <h3 class="contact-label">Name</h3>
                <p class="contact-value">Steven Armstrong</p>

        
            </div>
        
            <div class="contact-item">
            
            
                <h3 class="contact-label">Email</h3>
            
            
                <p class="contact-value">
                
                    <a href="mailto:stevenarmstrong956@gmail.com" class="contact-link"> stevenarmstrong956&#64;gmail.com </a>
            
            
                </p>
            
            
            </div>
        
        
            <div class="contact-item">
            
                <h3 class="contact-label">Phone</h3>
            
                <p class="contact-value">
                
                    <a href="tel:876-538-2862" class="contact-link"> 876-538-2862 </a>
            
                </p>
            
            
            </div>
    
    
    
    
        </div>

    
        <div class="card message-card">
            
            <h2 class="section-heading">Get In Touch</h2>
            
            <p class="message-text">

                I'm always open to discussing new projects or opportunities to be part of your vision. Feel free to reach out 
                using the contact information provided above.
            </p>


            <p class="message-text">

                Whether you have a question about my projects, want to collaborate, or just want to say hello, I'll try 
                my best to get back to you as soon as possible!

            </p>




        </div>
    


    </section>


</div>